{% extends 'base.html' %}

{% load static %} 

{% block home_content %}
    <section>
        <div class="tab-content">
            <div class="container" id="Transcript-Home" role="tabpanel">
                <h1>Welcome to Our University!</h1>
                <p>
                    Our university prides itself on providing a quality education that prepares students for a bright future. With more than 55 years of experience in higher education, in the professional fields of architecture, business, landing, surveying and engineering. We have trained thousands of successful graduates who have gone on to achieve significant accomplishments in various industries. Our commitment to academic excellence, innovation, and student-centeredness sets us apart. If you're looking for an educational institution that gives you the tools you need to succeed in an increasingly competitive world, you're in the right place! Join our community and begin your journey to a future filled with opportunity and success.
                </p>
                <h3>Submit Your Credit Transcripts for Evaluation!</h2>
                <p>At our university, we make the transfer process easier than ever. You can now send us your credit transcripts with just a few clicks. We offer a seamless online platform where you can submit your academic records effortlessly.</p>
                <h3>What You Get:</h3>
                <ol>
                    <li><strong>Effortless Submission:</strong> Submit your credit transcripts and convalidation requests conveniently from anywhere.</li>
                    <li><strong>Real-Time Progress Tracking:</strong> Gain access to a personalized dashboard where you can track the progress of your convalidation in real time.</li>
                    <li><strong>Peace of Mind:</strong> Rest assured that our team is working diligently to evaluate your credits and provide you with a comprehensive convalidation report.</li>
                </ol>
                <h1>Explore Your Future with Us! 
            </div>

{% endblock %}