{% extends 'base.html' %}

{% load static %}

{% block stdnt_app_content %}
  <!-- New Student Application page -->
                
                <div class="container hidden" id="Transcript-NewStudentApplication" role="tabpanel">
                    <h1 class="text-center">Sign Up for Validations!</h1>
                    <form id="StudentForm">
                        <!-- First Name input-->
                        <div class="form-outline mb-3 col-sm-3">
                            <label class="form-label" for="NSAFirstName">First Name: </label>
                            <input type="text" id="NSAFirstName" class="form-control" required/>
                            <div class="invalid-feedback">
                                Please enter a First Name.
                              </div>
                        </div>
                        <!-- Last Name input -->
                        <div class="form-outline mb-3 col-sm-3">
                            <label class="form-label" for="NSALastName">Last Name: </label>
                            <input type="text" id="NSALastName" class="form-control" required/>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-3 col-sm-3">
                            <label class="form-label" for="NSAEmail">Email: </label>
                            <input type="email" id="NSAEmail" class="form-control" required/>
                        </div>
                        <!-- Phone Number input -->
                        <div class="form-outline mb-3 col-sm-3">
                            <label class="form-label" for="NSAPhoneNumber">Phone: </label>
                            <input type="tel" id="NSAPhoneNumber" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required/>
                        </div>
                        <!-- When would you like to start input -->
                        <div class="form-outline mb-3 col-sm-5">
                        <label class="form-label" for="NSAWhen">When would you like to start? </label>
                        <select class="form-select" id="NSAWhen" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="fall">Fall (August)</option>
                            <option value="winter">Winter (November)</option>
                            <option value="spring">Spring (March)</option>
                            <option value="summer">Summer</option>
                          </select>
                        </div>
                        <!-- Program that I am interested in input -->
                        <div class="form-outline mb-3 col-sm-5">
                          <label class="form-label" for="NSAProgramInterested">Program that I am interested in ... </label>
                        <select class="form-select" id="NSAProgramInterested" aria-label="Default select example">
                            <option selected>Select</option>
                            <optgroup label="Undergraduate Programs">
                                <option value ="ARCH">Architecture</option>
                                <option value ="BME">Biomedical Enginering</option>
                                <option value ="BBA">Business Administration</option>
                                <option value ="CHE">Chemical Engineering</option>
                                <option value ="CE">Civil Engineering</option>
                                <option value ="COE">Computer Engineering</option>
                                <option value ="CS">Computer Science</option>
                                <option value ="EE">Electrical Engineering</option>
                                <option value ="ADESD">Engineering in Software Development (Associate Degree)</option>
                                <option value ="ADSCL">Engineering in Suply Chain and Logistics (Associate Degree)</option>
                                <option value ="ENVE">Enviromental Engineering</option>
                                <option value ="IE">Industrial Engineering</option>
                                <option value ="ARIN">Interior Design</option>
                                <option value ="ADSURV">Land Surveying (Associate Degree)</option>
                                <option value ="BSURV">Land Surveying and Mapping</option>
                                <option value ="ADME">Mechanical Engineering (Associate Degree)</option>
                                <option value ="BSME">Mechanical Engineering</option>
                                <option value ="ARPD">Product Design (Associate Degree)</option>
                            </outgroup>
                            <option>
                        </select>
                        </div>
                        <!-- What University are you coming from input-->
                        <div class="form-outline mb-3 col-sm-5">
                            <label class="form-label" for="NSAUniversity">What University are you coming from? </label>
                            <input type="form-select" id="NSAUniversity" class="form-control" />

                        </div>
                        <!-- Transcript input -->
                        <div class="mb-3 col-sm-4">
                            <label for="formFile" class="form-label">Upload the Credit Transcript</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <button type="button" class="btn btn-custom btn-custom-2" id="addMore">
                                <i class="bi bi-plus-circle" style="font-size: 20px; margin-right: 10px"></i> Add another school with transcript
                        </button> 
                        <div id ="additionalFields"></div>
                        <!-- Submit button-->
                        <div class="mb-3">
                            <button type="submit" class="btn btn-custom btn-custom-3" id="submitButton" style="width: 300px; height:50px;"disable>Submit Now</button>
                        </div>
                        <!--Announcement Join our University Now!-->
                        <div class="announcement">
                            <p>Join our</p>
                            <br>
                            <p>University</p>
                            <br>
                            <p>Now!</p>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    <script>

        // script.js
document.addEventListener("DOMContentLoaded", function () {
    const signupForm = document.getElementById("StudentForm");

    signupForm.addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the form from submitting normally

        // Get the user's input
        const FirstName = document.getElementById("NSAFirstName").value;
        const LastName = document.getElementById("NSALastName").value;

        // You should add validation and security measures here.
//NOTAAAA: luego de capturar toda la informacion del formulario, se deben enviar los datos 
// a la base de datos, asi que se debe agregar una opcion como de success tipo mensaje que salga en pantalla que sus datos fueron procesados 
//es decir que no redirect to the welcome page
        // Assuming successful signup, redirect to the welcome page.
        window.location.href = "home.html";
    });

    // Get Values From Form
function readStudentsData() {
    var formData = {};
    // Get Values From  Input
    formData["NSAFullName"] = document.getElementById("NSAFullName").value;
    formData["NSAEmail"] = document.getElementById("NSAEmail").value;
    formData["NSAPhoneNumber"] = document.getElementById("NSAPhoneNumber").value;
    // return Form Data
    return formData;
}
});

        function showSignUp() {
          document.getElementById('Transcript-Home').classList.add('hidden');
          document.getElementById('Transcript-NewStudentApplication').classList.remove('hidden');
        }

  
    
        function showHome() {
       
          document.getElementById('Transcript-NewStudentApplication').classList.add('hidden');
          document.getElementById('Transcript-Home').classList.remove('hidden');
        }

     
    </script>

{% endblock %}

<!--Se deben implementar reglas y comprobaciones para asegurar que los datos entrados al formulario sean correctos() y seguros (como los archivos subidos de la transcripcion), para poder cumplir con que tenemos una app segura-->