<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
    <img src="LOGO_PUPR.png" alt="Logo" style="width: 450px; height: 100px; margin: 15px;">
    
    <!-- Login button with user icon -->
    <button class="btn btn-custom btn-custom-1 position-absolute end-20 mt-5" style="right: 100px;"  onclick="redirectToRoleSelection()">
        <i class="bi bi-person-circle" style="font-size: 20px; margin-right: 10px"></i> Log In
    </button>

    </header>
    
    <section>
    <div class="login-container" id="Transcript-Login" role="tabpanel">
        <form method="POST">
            <h4>Login to Your Account</h4>
            <!-- ID input -->
            <div class="form-outline mb-3 col-sm-6">
                <label class="form-label" for="loginID">Username or Email</label>
                <input type="text" id="loginID" class="form-control" required/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3 col-sm-6">
                <label class="form-label" for="loginPassword">Password: </label>
                <input type="password" id="loginPassword" class="form-control" required/>
            </div>

            <!-- Forgot Password -->
            <div class="col-md-6 d-flex justify-content-center">
                <a href="#!" onclick="showForgotPassword()">Forgot password?</a>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary active">Sign in</button>
                <p id="error-message" style="color: red;"></p>

        </form>
    </div>
        <!-- Forgot Password Page-->
        <div class="container hidden" id="ForgotPassword" role="tabpanel">
            <h1>Forgot Password</h1>
            <p>Enter your email to reset your password:</p>
            <form id="forgotPasswordForm">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>
                <input type="submit" value="Reset Password">
        </div>
    </section>
</body>
</html>
