.hidden {
    display: none;
  }

.custom-navbar {
    background-color: #144A9A; /* Fondo azul para el navigation bar */
}

.custom-navbar .nav-link {
    color: white; /* Texto blanco */
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.custom-navbar .nav-link:hover {
    background-color: #FBB41C; /* Fondo amarillo al pasar el mouse */
    width: 100%;
}  

/* Estilo para el botón de toggler cuando está activo (seleccionado) */
.navbar-toggler:active {
  border-color: #FBB41C; /* Color amarillo */
  box-shadow: 0 0 10px #FBB41C; 
}

.bi-list {
  color:white;/* Color blanco, para el hamburguer menu*/
  font-size: 2rem;
}