.hidden {
    display: none;
  }

.custom-navbar {
    background-color: #144A9A; /* Fondo azul para el navigation bar */
}

.custom-navbar .nav-link {
    color: white; /* Texto blanco */
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s; /* Transici칩n suave para el color de fondo */
}

.custom-navbar .nav-link:hover {
    background-color: #FBB41C; /* Fondo amarillo al pasar el mouse */
    width: 100%;
}  

/* Estilo para el bot칩n de toggler cuando est치 activo (seleccionado) */
.navbar-toggler:active {
  border-color: #FBB41C; /* Color amarillo */
  box-shadow: 0 0 10px #FBB41C; 
}

.bi-list {
  color:white;/* Color blanco, para el hamburguer menu*/
  font-size: 2rem;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  color:#144A9A; 
}

label {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif; 
}

/*IntroPage*/
button [type=submit] {
  background-color: #144A9A;
  color: #F8F9FA; /*Color del texto del bot칩n*/
  font-size: 20px;
  padding: 10px 20px;
}

/* AdminPage*/

table{
  border-collapse: collapse;
  text-align: center;
}

table.list{
  width:100%;
  text-align: center;
}

table.list td{
  text-align: center;
}

td, th {
  border: 1px solid #F8F9FA;
  text-align: middle;
  background-color: #f8f9fae1;
  color:#144A9A;
  font-family: Helvetica, Arial, sans-serif;
  padding: 8px;
}

/*Validation Process page*/

.validation-process-bar {
  background-color: #144A9A; /* Color de fondo de la barra */
  color: white; /* Color del texto */
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation-process-bar button {
  margin: 0 10px;
}

/* Estilos para los botones */
.validation-process-bar .btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}